{% extends 'form_div_layout.html.twig' %}

{%- block form_widget_simple -%}
    {% spaceless %}
        {%- set type = type|default('text') -%}
        {% if property_value is defined %}
            {% if property_value is not null %}
                <label>{{ property_name|humanize }}<br \>({{ property_name }})</label>
                <input type="{{ type }}" {{ block('widget_attributes') }} {% if property_value is not empty %}value="{{ property_value }}" {% endif %}/>
            {% endif %}
        {% else %}
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% endif %}
    {% endspaceless %}
{%- endblock form_widget_simple -%}

{#{%- block widget_attributes -%}#}
    {#id="{{ id }}" name="{{ full_name }}"#}
    {#{%- if disabled %} disabled="disabled"{% endif -%}#}
    {#{%- if required %} required="required"{% endif -%}#}
    {#{%- for attrname, attrvalue in attr -%}#}
        {#{{- " " -}}#}
        {#{%- if attrname in ['placeholder', 'title'] -%}#}
            {#{{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"#}
        {#{%- elseif attrvalue is same as(true) -%}#}
            {#{{- attrname }}="{{ attrname }}"#}
        {#{%- elseif attrvalue is not same as(false) -%}#}
            {#{{- attrname }}="{{ attrvalue }}"#}
        {#{%- endif -%}#}
    {#{%- endfor -%}#}
{#{%- endblock widget_attributes -%}#}