{% extends 'form_div_layout.html.twig' %}

{%- block form_widget_simple -%}
    {% spaceless %}
        {%- set type = type|default('text') -%}
        {% if property_value is defined %}
            {% if property_value is not null %}
                <label>{{ property_name|humanize }}<br \>({{ property_name }})</label>
                <input type="{{ type }}" {{ block('widget_attributes') }} {% if property_value is not empty %}value="{{ property_value }}" {% endif %}/>
            {% endif %}
        {% else %}
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% endif %}
    {% endspaceless %}
{%- endblock form_widget_simple -%}
