{% extends 'base.html.twig' %}


{% block body %}
    <a href="{{ path('postfix_edit_service', { 'postfix': postfix.id }) }}">master.cf</a> -
    {#{% for postfix in postfixes %}#}
        {#<a href="{{ path('postfix_details', { 'postfix': postfix.id }) }}">{{ postfix.name }}</a><br \>#}
    {#{% endfor %}#}
    {#{{ knp_pagination_render(postfixes) }}#}
    <p />
    {{ form_start(form) }}
    {#{{ form_widget(form) }}#}
    {#{% for property in form.properties %}#}
        {#{{ form_widget(property) }}#}
    {#{% endfor %}#}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}