{% extends 'base.html.twig' %}


{% block body %}

    <p>{{ service.postfixInstance }}</p><br />
    {{ form_start(form) }}
    {#{{ form_widget(form) }}#}
    {#{% for property in form.properties %}#}
        {#{{ form_widget(property) }}#}
    {#{% endfor %}#}
        {# iterate over each existing tag and render its only field: name #}
        {% for property in form.properties %}
            <li>{{ form_row(property) }}</li>
        {% endfor %}
    {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}
