{% extends 'base.html.twig' %}


{% block body %}
 <div class="container">
     <div class="row">

        <div class="col-md-6">



            <table class="table table">
                <thead>
                <tr>
                    <th>Hostname</th>
                    <th>IP</th>
                    <th>Name</th>
                    <th>master.cf</th>
                </tr>
                </thead>

                <tbody>
                 {% for postfix in postfixes %}
                    <tr>
                        <td>
                            <a href="{{ path('postfix_edit_configuration', { 'postfix': postfix.id }) }}">{{ postfix.hostname }}</a>


                        </td>

                        <td>
                            <p>{{ postfix.ip }}</p>
                        </td>

                        <td>
                            <p>{{ postfix.name }}</p>
                        </td>

                        <td>
                            <a href="{{ path('postfix_new_service', { 'postfix': postfix.id }) }}">master.cf</a>
                        </td>

                    </tr>
                 {% endfor %}
                </tbody>

            </table>

            <div class="text-center">
                {{ knp_pagination_render(postfixes) }}
            </div>

        </div>

        <div class="col-md-5 pull-right">


            {{ form_start(form) }}
            {#{{ form_widget(form) }}#}
            {#{% for property in form.properties %}#}
                {#{{ form_widget(property) }}#}
            {#{% endfor %}#}
            {{ form_rest(form) }}
            {{ form_end(form) }}


        </div>

     </div>
 </div>
{% endblock %}

