{% extends 'base.html.twig' %}


{% block body %}

    <p>{{ postfix }}</p><br />
    # ==========================================================================<br />
    # service type  private(yes) unpriv(yes)  chroot(yes)  wakeup(never)  maxproc(100) command + args<br />
    # ==========================================================================<br />
    {% for service in postfix.services %}
        {{ service }} {{ service.type }} {{ service.private }} {{ service.unpriv }} {{ service.chroot }} {{ service.wakeup }} {{ service.maxproc }} {{ service.command }} <a href="{{ path('postfix_edit_service', { 'service': service.id }) }}">edit</a> <a href="{{ path('service_property_new', { 'service': service.id }) }}">add</a>
        {% for property in service.properties %}

            <br />&nbsp;&nbsp;-o {{ property }}={{ property.value }} ( {{ property.getOverridedMainFunction }} )
        {% endfor %}
        <br />
    {% endfor %}
    <p />
    {{ form_start(form) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
