<!DOCTYPE html>
<head>

    {#<link rel="stylesheet" href="{{ asset('web/assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('web/bootstrap/css/bootstrap.css') }}">#}
    {#{% stylesheets#}
    {#'assets/vendor/bootstrap/dist/css/bootstrap.min.css'#}
    {#filter='cssrewrite' output='css/compiled/app.css' %}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
    {#<link rel="stylesheet"#}
    {#href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">#}

    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>

<body>

{% block menu %}
    


    <nav class="navbar navbar-inverse row">
    <div class="container">



        {#navbar items#}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills">
                ...
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        ...
                    </ul>
                </li>
                ...
            </ul>

            <ul class="nav nav-pills">

                <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('domain_new') }}" role="button" aria-haspopup="true" aria-expanded="false">Domain<span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Action</a></li>

                    </ul>

                </li>

                <li><a href="{{ path('email_homepage') }}"> Email </a></li>
                <li><a href="{{ path('alias_homepage') }}"> Alias </a></li>
                <li><a href="{{ path('postfix_new') }}"> Postfix Instance </a></li>

            </ul>

            </ul>

        </div>
    </div>
</nav>


{% endblock %}
{#{% block title %}Yourapp{% endblock %}#}




        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
