{% extends 'base.html.twig' %}

{#{% form_theme form _self %}#}

{#{% block form_row %}#}
    {#pera#}
    {#<div class="form-group">#}
        {#{{ form_label(form) }}#}
        {#{{ form_errors(form) }}#}
        {#{{ form_widget(form) }}#}
    {#</div>#}
{#{% endblock form_row %}#}
{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
