{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            Emails:
            <div class="col-lg-6">
                <p>
                {% for domain in domains %}
                    <li>{{ domain }}</li>
                    {% for email in domain.emails %}
                        {% if email.password is not null %}
                            <ul>
                                {{ email }}
                                - <a href="{{ path('email_edit', { 'email': email.id }) }}">edit</a>
                                - <a href="{{ path('email_remove', { 'email': email.id }) }}">{{ 'email.twig.btn_remove'|trans }}</a>
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </p>
            </div>

        </div>

    </div>

{% endblock %}
