{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
    <div class="col-lg-4 pull-right">
        {{ form_start(form) }}
        {{ form_row(form.username) }} @ {{ email.domain }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary" type="submit">Register!</button>
        {{ form_end(form) }}
    </div>
   </div>
{% endblock %}
