{% extends 'base.html.twig' %}

{% block body %}
<div class="col-lg-6">
    {{ form_start(form) }}
    {{ form_row(form.username) }} @ {{ email.domain }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_rest(form) }}
    <button type="submit">Register!</button>
    {{ form_end(form) }}
</div>
{% endblock %}
