{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
                {% for domain in domains %}
                    <a href="{{ path('email_list', { 'domain': domain.id }) }}">{{ domain.name }}</a>
                    - (e) {{ domain.countOnlyEmails }} / {{ domain.emailNumbers }}
                    - (a) {{ domain.countOnlyAliases }} / {{ domain.aliasNumbers }}
                    - <a href="{{ path('domain_edit', {'domain': domain.id}) }}">{{ 'domain.twig.btn_edit'|trans }}</a>
                    - <a href="{{ path('email_new', { 'domain': domain.id }) }}">{{ 'domain.twig.btn_email'|trans }}</a>
                    - <a href="{{ path('alias_new', { 'domain': domain.id }) }}">{{ 'domain.twig.btn_alias'|trans }}</a>
                    {% if domain.emailCount == 0 %}
                    - <a href="{{ path('domain_remove', { 'domain': domain.id }) }}" onclick="return confirm('are u sure?')">del</a>
                    {% endif %}
                    <br \>
                {% endfor %}
            {{ knp_pagination_render(domains) }}
        </div>
    </div>
{% endblock %}
